body {
  /*text-align: center;*/
  background-color: #000;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  width:100%;
  height: 100%;
}
/*------------BACKGROUND IMAGE STYLING------------*/
.background{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.backgroundImg{
  /*max-width:1500px;*/
  z-index: -101;
  min-width: 1600px;
  height: 100%;
}
.cover{
  z-index:-100;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
}
/*------------STYLING FOR QUOTE TEXT------------*/

#quote-box {
  position: fixed;
  top: 20%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  line-height: .5;

}
.quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }
.quote:before, .quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}
.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}
.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}
.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}
.source:before {
  content: "—";
}
.citation {
  font-style: italic;
}
.citation:before {
  content: ", ";
  font-style: normal;
}
.year:before {
  content: ", ";
  font-style: normal;
}
/*------------BUTTON STYLING------------*/
#loadQuote {
  font-family: 'Star Jedi Logo MonoLine', arial;
  letter-spacing:.09em;
  position: fixed;
  bottom:0;
  right:0;
  width: 12em;
  display: inline-block;
  margin-right:1em;
  margin-bottom: 1em;

  border-radius: 4px;
  border: 2px solid #feda4a;
  color: #feda4a;
  background-color: rgba(0,0,0, 0.4);
  padding: 15px 0;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgba(254, 218, 74, .25);
}
#loadQuote:focus {
  outline: none;
}
/*------------MEDIA QUERIES----------------*/
@media screen and (max-width: 650px) {
  #quote-box {
    top:15%;
  }
  #loadQuote{
    left: 50%;
    transform: translateX(-50%);
    width:90%;
    align-self: center;
    margin:1em 0;
  }
  .backgroundImg{
    min-width: auto;
    width:800px;
  }
  .quote {
    font-size: 2.5rem;
  }
  .quote:before, .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
